#publications {
	background-color: #F3E0BE;
	padding-top: 5vh;
	padding-bottom: 15px;
    display: table;
	color: black;
	width: 100%;
}

.logoPDF {
	width: auto;
	height: 40px;
}

.logoAppendix {
	width: auto;
	height: 40px;
}

.logoYouTube {
	width: auto;
	height: 40px;
}

.logoGitHub {
	width: auto;
	height: 40px;
}

.logoDOI {
	width: auto;
	height: 40px;
}

.logoAward {
	width: auto;
	height: 40px;
}

.logoPoster {
	width: auto;
	height: 40px;
}

.logoSlides {
	width: auto;
	height: 40px;
}

/* for tablets */
@media screen and (max-width: 1000px) {

	#publicationsHeader {
		margin-top: -10px;
	}

	.logoPDF, .logoAppendix, .logoGitHub,
	.logoDOI, .logoAward, .logoPoster, .logoSlides {
		height: 30px;
	}

	.logoYouTube {
		height: 30px;
	}
	
}